input {
    margin-top: 7px;
    margin-bottom: 7px;
}

.house-input {
    margin-top: 60px;
}

button {
    margin-top: 20px;
}

.has-click {
    cursor: pointer;
}

.item {
    margin-bottom: 15px;
}

.dropdown {
    margin-bottom: 20px;
}

.item-container {
    height: 700px;
    overflow-y: auto;
    padding: 10px;
}

